<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyNotes_JavaScript</display-name>
 
  <servlet>
        <servlet-name>CheckUserName</servlet-name>
        <servlet-class>mynotes.js.servlets.CheckUserNameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckUserName</servlet-name>
        <url-pattern>/CheckUserName</url-pattern>
    </servlet-mapping>
</web-app>